* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

body {
    font-family: 'PT Sans', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.s-title {
    margin: 15px 0;
    font-size: 35px;
    color: #fff;
}

/* header */

header{
    background-color: #0084FD;
    color: #fff;
    padding: 15px 0 15px 0;
    box-shadow: 0 1px 10px 0 #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.flex-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
}

.block {
    display: none;
}

.btn-h {
    padding: 8px 14px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}

.btn-w {
    background: #fff;
}

/* main */

/* option */

.option {
    margin: 150px 0 50px 0;
}

.card-up {
    width: 100%;
}

.row {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}

.card-66 {
    width: 66%;
    background-color: #B5DDFF;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    display: flex;
    height: 270px;
}

.paragraph-1 {
    margin-bottom: 40px;
}

.phone {
    max-width: 100%;
}

.btn-m {
    padding: 10px 45px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
}

.btn-b {
    background: #0084FD;
    color: #fff;
}

.fa-apple {
    margin-right: 5px;
}

.card-32 {
    width: 32%;
    background-color: #B5DDFF;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 270px;
}

.card-title {
    margin: 0 0 15px 0;
}

.color-title {
    color: #0084FD;
}

.icon-c {
    font-size: 50px;
    color: #0084FD;
    margin: 20px 0;
}

.card-p {
    font-size: 12px;
    color: #5B6F81;
    line-height: 20px;
}

.card-down {
    width: calc(100% / 3);
}

.card {
    width: calc(100% / 3);
    background-color: #B5DDFF;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    height: 270px;
}

/* planning */

.planning {
    padding: 50px 0;
    background-color: #9792E4;
}

.flex-c-s {
    display: flex;
    justify-content: space-between;
    padding: 50px 70px;
}

.color-title-w {
    color: #fff;
}

.card-p-w {
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    width: 70%;
}

.planning-w {
    text-align: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin-top: 100px;
}

.fa-arrow-down {
    margin: 15px 0 0 0;
    background-color: #9792E4;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 4px;
    cursor: pointer;
}

.color-title-b {
    color: #000;
}

.img-v {
    max-width: 100%;
    margin-bottom: 90px;
}

.img-w {
    max-width: 100%;
}

/* testimonials */

.testimonials {
    padding: 50px 0;
    text-align: center;
}

.subtitle {
    font-size: 15px;
    font-weight: 300;
}

.title-purple {
    color: #A6A2E8;
}

.test-p {
    color: #000;
    line-height: 30px;
    font-size: 17px;
    margin-bottom: 25px;
}

.apici-i {
    margin-right: 10px;
}

.apici-f {
    margin-left: 10px;
}

.testiomonial-crd {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #A6A2E8;
    min-height: 250px;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 30px;
}

.test-img {
    width: 200px;
    height: 200px;
    border-radius: 50%
}

.desc-test {
    color: #fff;
    text-align: left;
    padding: 15px;
    margin: 30px 15px;
}

.name {
    margin: 15px 0;
}

/* benefit */

.benefit {
    padding: 50px 0;
    text-align: center;
    background-color: #A6A2E8
}

.table {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px
}

.b-col {
    flex-basis: calc(100% / 3);
    padding: 10px;
}

.b-card {
    min-height: 350px;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    font-size: 4rem;
    text-align: left;
}

.crd-num {
    color: #A6A2E8;
    font-size: 60px;
    font-weight: 600;
}

.crd-title {
    color: #A6A2E8;
    font-size: 20px;
    margin: 10px 0;
}

.btn-p {
    background-color: #A6A2E8;
    color: #fff;
    font-weight: 600;
}

/* about */

.about {
    padding: 50px 0;
}

.s-title-l {
    font-size: 50px;
    margin: 0 0 25px 0;
}

.card-70 {
    width: 70%;
}

.card-30 {
    width: 30%;
    position: relative;
    bottom: 0;
    left: 0;
}

.as-p {
    line-height: 25px;
    font-size: 14px;
    width: 90%;
}

.p-m {
    margin-bottom: 40px;
}

.as-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.photo-marker {
    position: absolute;
    font-size: 50px;
    color: #A6A2E8;
    top: 0;
    right: 150px;
}

.fa-linkedin {
    margin-right: 5px;
}

.as-desc {
    color: #A6A2E8;
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0;
    width: 75%;
}

/* get s */

.get-started {
    padding: 50px 0;
    background-color: #9792E4;
    text-align: center;
}

.mega-title {
    font-size: 85px;
    margin-bottom: 25px;
    color: #FDC15F;
}

.p-w {
    font-size: 12px;
    color: #fff;
    line-height: 20px;
}

.btn-margin {
    margin: 20px 0;
}

.fa-circle {
    font-size: 5px;
    vertical-align: middle;
}

.link-s {
    text-decoration: underline;
    margin-left: -8px;
}

/* footer */

.last-part {
    padding: 50px 0;
    background-color: #333333;
    text-align: center;
}

.margin-f {
    margin: 25px 0 0 0;
}

.link-p {
    color: #A6A2E8;
}


/* +++++query+++++ */


/* 1024px */

@media screen and (max-width: 1024px) {

    .container {
        max-width: 920px;
        margin: 0 auto;
    }

    .photo-marker {
        top: 0;
        right: 65px;
    }

}

/* 768px */

@media screen and (max-width: 768px) {
    
    .container {
        max-width: 650px;
        margin: 0 auto;
    }

    /* header */

    .nav-bar {
        display: none;
    }

    .block {
        display: block;
        font-size: 25px;
    }

    /* otion */

    .card-66 {
        min-height: 400px;
        flex-direction: column;
    }
    
    .phone {
        height: 47%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .card-32 {
        min-height: 400px;
    }

    .card {
        min-height: 400px;
        vertical-align: middle;
    }

    .icon-c {
        font-size: 70px;
    }

    .card-title {
        font-size: 25px;
    }

    .card-p {
        font-size: 14px;
    }

    /* planning */

    .flex-c-s {
        flex-direction: column;
    }

    .card-p-w {
        font-size: 20px;
    }

    /* testimonials */

    .subtitle {
        font-size: 20px;
    }

    .test-p {
        font-size: 20px;
    }

    .t-card-text {
        font-size: 18px;
    }

    /* benefit */

    .b-col {
        flex-basis: calc( 100% / 2);
    }

    /* about */

    .as-p {
        font-size: 20px;
    }

    .photo-marker {
        top: 0px;
        right: 0px;
    }

    /* get-started */

    .p-w {
        font-size: 16px;
    }

    .btn-w {
        font-size: 20px;
    }

}

/* 576px */

@media screen and (max-width: 576px) {

    .container {
        max-width: 415px;
        margin: 0 auto;
    }

    /* header */

    .nav-bar {
        display: none;
    }

    .block {
        display: block;
        font-size: 25px;
    }

    /* otion */

    .row {
        flex-direction: column;
    }

    .card-66 {
      width: 100%;
    }
    
    .phone {
        height: 42%;
        margin: 0 auto;
        margin-top: 37px;
    }

    .card-32 {
        width: 100%;
        min-height: 200px;
    }

    .card {
        width: 100%;
        min-height: 200px;
    }

    /* planning */

    .flex-c-s {
        padding: 50px 70px 0 70px;
        flex-direction: column;
    }

    .img-v {
        margin-bottom: 30px;
    }

    .card-p-w {
        width: 100%;
        font-size: 15px;
    }

    .planning-w {
        margin-top: 25px;
    }

    /* testimonials */

    .subtitle {
        font-style: 15px;
    }

    .s-title {
        font-size: 30px;
    }

    .test-p {
        font-size: 15px;
        line-height: 20px;
    }

    .testiomonial-crd {
        flex-direction: column;
        max-height: 415px;
    }

    .test-img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin-top: 20px;
    }
    
    .desc-test {
        padding: 20px 15px 0 15px;
    }

    .t-card-text {
        font-size: 15px;
    }

    /* benefit */

    .s-title {
        font-size: 40px;
    }

    .b-col {
        flex-basis: 100%;
    }

    /* about */

    .card-70 {
        width: 100%;
        margin-bottom: 15px;
    }

    .as-p {
        font-size: 15px;
        line-height: 25px;
    }

    .card-30 {
        width: 100%;
    }

    .as-desc {
        width: 80%;
        font-size: 30px;
    }

    .photo-marker {
        top: 0px;
        right: 210px;
    }

    /* get-started */

    .p-w {
        font-size: 10px;
    }

}